<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PRIAMOS.NET.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Password=mavros1!;Persist Security Info=True;User ID=sa;Initial Catalog=Priamos_NET;Data Source=BLACKMOON-PC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <PRIAMOS.NET.My.MySettings>
      <setting name="Records" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CurrentView" serializeAs="String">
        <value />
      </setting>
      <setting name="frmUsers" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmMailSettings" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmPermissions" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="UNSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UN" serializeAs="String">
        <value />
      </setting>
      <setting name="frmBDG" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmGen" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmCustomers" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmAPT" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ExeVer" serializeAs="String">
        <value>1.0.0.5</value>
      </setting>
      <setting name="DbVer" serializeAs="String">
        <value>1.0.0.5</value>
      </setting>
      <setting name="frmParameters" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </PRIAMOS.NET.My.MySettings>
  </userSettings>
</configuration>